* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
  text-shadow: 2px 2px 8px gray;
}

.container {
  top: 50%;
  position: absolute;
  left: 50%;
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: translate(-50%, -50%);
  background: rgb(144, 163, 199);
  padding: 2%;
  border-radius: 10px;
}

.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  margin-right: 50px;
}

.info-text {
  width: 100%;
  height: 30px;
  margin-top: 20px;
}

.currency-info {
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}

.amount-convert-before-inp {
  width: 220px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.amount-convert-after-inp {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.select-currency-option {
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.click-convert-btn {
  width: 130px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.no-name-span {
  font-size: 30px;
  margin-left: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  font-size: 14px;
  background-color: rgb(166, 177, 210);
  border-radius: 10px;
}

@media (min-width: 768px) {
  .container {
    height: 400px;
  }

  .container-title {
    width: 100%;
    flex-direction: row;
  }

  .title {
    justify-content: space-between;
  }

  .currency-info {
    font-size: 24px;
  }

  h1 {
    font-weight: bold;
    font-size: 50px;
  }

  .select-currency-option {
    margin-top: 0px;
  }

  .amount-convert-before-inp {
    margin-top: 0px;
  }

  .amount-convert-after-inp {
    margin-left: 20px;
  }
}
